<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilywebhouse.gpdimobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPDIMobile">
        <activity
            android:name=".AddPeserta"
            android:exported="true" />
        <activity
            android:name=".KelolaJadwal"
            android:exported="true" />
        <activity android:name=".DetailPelayanan" />
        <activity android:name=".TambahBeritaActivity" />
        <activity android:name=".UbahTemaActivity" />
        <activity
            android:name=".TemaSemingguActivity"
            android:label="@string/title_activity_tema_seminggu"
            android:theme="@style/Theme.GPDIMobile.NoActionBar" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".DiakoniaActivity" />
        <activity android:name=".ProfilGerejaActivity" />
        <activity android:name=".TemaMingguanActivity" />
        <activity android:name=".JadwalPelayananActivity" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>